@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  body{
    background: #1c2431;
  }
}