@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    body{
        background: hsl(0, 0%, 100%);
        overflow-x: hidden;
    }
}